version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: monthly
    open-pull-requests-limit: 100

  - package-ecosystem: "pub"
    directory: "/"
    schedule:
      interval: monthly
    open-pull-requests-limit: 100